@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Variables */
.text-xs {
    font-size: 1rem;
}
.text-s {
    font-size: 1.25rem;
}

.text-m {
    font-size: 1.5rem;
}

.text-l {
    font-size: 1.75rem;
}

.text-xl {
    font-size: 2rem;
}

.text-xxl {
    font-size: 2.25rem;
}

.text-3xl {
    font-size: 2.5rem;
}

.text-4xl {
    font-size: 3rem;
}

.weight-100 {
    font-weight: 100;
}

.weight-600 {
    font-weight: 600;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background: rgb(8, 50, 92);
    color: #fff;
}

header {
    top: 0;
    position: sticky;
    z-index: 100;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,.51);
}

a {
    text-decoration: none;
}

section {
    width: 80%;
    margin-inline: auto;
    padding-inline: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

/* Header start */
.nav {
    font-family: 'Nunito', sans-serif;
    position: inherit;
    font-size: 16px;
    padding: 5px;
    background: rgb(6, 30, 54);
}

#nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 5px;
    list-style: none
}

.nav__list__logo {
    margin: 0 auto 0 5px;
}

.logo {
    height: 40px;
}

.nav__list__element  {
    display: inline-flex;
    flex-flow: row wrap;
}

.nav__list__element__btn {
    margin: 5px;
    padding: 10px 15px;
    font-weight: 600;
    letter-spacing: .03rem;
    color: #fff;
}

.register__btn, 
.account__btn {
    position: relative;
}

.register__btn::before, 
.account__btn::before {
    content: '';
    background: #009afa;
    width: 0;
    height: .2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 2.3rem;
    transition: width .35s;
} 

.register__btn:hover::before,
.account__btn:hover::before {
    content: '';
    width: 85%;
}

.about-me {
    position: relative;
    background: #eee;
    color: #000;
    border-radius: 30px;
    overflow: hidden;
}

.about-me::before {
    content: '';
    position: absolute;
    height: 0rem;
    width: 0rem;
    background: radial-gradient(circle, #009afa, #045ac2);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width, height, .35s ease-in-out;
}

.about-me:hover::before {
    width: 10rem;
    height: 10rem;
}

.about-me__btn {
    z-index: 1;
}

.about-me__btn {
    color: #000;
    transition: .45s ease-in-out;
}

.about-me:hover > .about-me__btn {
    color: #fff;
    transition:  .35s ease-in-out;
}
/* Header end */

/* Mobile header start */
.nav-mobile {
    display: none;
}
/* Mobile header end */

/* Home page start */
#web-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Montserrat', 'Hanken Grotesk', sans-serif;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 4.5rem);
}

.hero-column {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.hero-column-left {
    animation: transition-in-left 1s;
}

.hero-column-right {
    animation: transition-in-right 1s;
}

@keyframes transition-in-left {
    from {
        filter: blur(10px);
        left: -10rem;
    }
    
    to {
        filter: blur(0px);
        left: 0rem;
    }
}

@keyframes transition-in-right {
    from {
        filter: blur(10px);
        right: -10rem;
    }
    
    to {
        filter: blur(0px);
        right: 0rem;
    }
}

.hero__title, 
.hero__subtitle, 
.hero__slogan {
    margin: 0 0 .5rem 0;
    text-transform: uppercase;
    letter-spacing: -.1rem;
    line-height: 75%;
    display: inline;
}

.hero__subtitle {
    background: linear-gradient(45deg, #55beff, #009afa);
	-webkit-background-clip: text;
    background-clip: text;
	color: transparent;
}

.hero__slogan {
    align-self: end;
    margin-top: .5rem;
    letter-spacing: -.05rem;
}

.hero__contacts {
    position: relative;
    height: min-content;
    display: flex;
    align-items: center;
}

.hero__btn {
    transition: transform .3s ease-in-out;
    will-change: transform;
}

.hero__btn:hover {
    transform: scale(1.1);
}

.hero__contact-me {
    position: relative;
    width: fit-content; 
    align-items: center;
    padding: 1rem;
    background: linear-gradient(-45deg, #55beff, #009afa);
    color: #fff;
    border-radius: 1rem;
    margin-right: 1rem;
    transition: .3s ease-in-out;
}

.hero__contact-me:hover {
    -webkit-filter: brightness(88%);
    filter: brightness(88%);
}

.hero__github,
.hero__linkedin {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    width: fit-content;   
}

.hero__github:hover,
.hero__linkedin:hover {
    color: #ccc;
}

.hero__logo__border {
    display: flex;
    position: relative;
    background: #0005;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    object-fit: contain;
}

.hero__logo__border::before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #009afa, #1351d9);
    inset: 0;
    inset: -1rem 9rem;
    z-index: -1;
    animation: logo-border-rotation 7s linear infinite;
}

.hero__logo__border::after {
    content: '';
    position: absolute;
    background: rgb(8, 50, 92);
    border-radius: 100%;
    width: 95%;
    height: 95%;
    z-index: 1;
}

@keyframes logo-border-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero__logo{ 
    width: 90%;
    height: 90%;
    border-radius: 100%;
    z-index: 10;
}

.about-section {
    background: rgb(7, 65, 123);
}

.about__title {
    text-transform: uppercase;
}

/* Home page end */

/* Footer start */
#footer {
    font-family: 'Nunito', sans-serif;
    position: sticky;
    top: 100%;
    background: rgb(6, 30, 54);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__title {
    display: inline-block;
    margin: 0;
}

.footer__text {
    font-weight: 1000;
    margin: 20px auto 10px auto;
}

.footer__media {
    position: relative;
    bottom: 0;
}

.footer__media__link {
    color: #fff;
    text-decoration: none;
}

.footer__media__link:hover {
    color: #ccc;
}

.fa-brands {
    transition: transform .3s;
    font-size: 40px;
    margin: 0px 10px;
    position: relative;
}

.footer__media__link:hover > .fa-brands {
    transform: translateY(-10px);
}
/* Footer end */

/* Responsive design */
@media (max-width: 551px) {
    .nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        position: sticky;
        background: rgb(6, 30, 54);
        padding: 5px;
        justify-content: flex-start;
    }

    .nav-mobile__btn {
        background: transparent;
        border: 0px;
    }

    .nav-mobile__list {
        display: flex;
        list-style: none;
        margin: 10px;
        padding: 0;
        width: 100%;
    }

    .nav-mobile__btn {
        color: #fff;
        text-decoration: none; 
        font-size: 20px;  
        margin-left: auto;
    }

    .nav-mobile__btn:hover {
        color: #ccc;
    }    

}
